ul {
   list-style-type: none;
   margin: 0;
   padding: 0;   
   overflow: hidden;
   background-color: black;
   display: inline-block;
}


li {
   padding: 1px 20px;
   left: 35px;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

ul.nav a:hover {
    background-color: black !important;
    color: white !important;
    text-shadow:0 0 1px white, 0 0 1px white, 0 0 1px white !important;
}


@media (max-width: 100px) {
    .collapse {
        display: none !important;
    }
}

