body{
    margin-top: 15px;
    background-color:black; 
}

.container-1{
    display: flex; 
    position: relative;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right : 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px;
}
 .bx1{
    color: white;
    /* border: 1px solid white; */
    margin-left: 15px;
}
.bx0{
        font-size: 30px;
        text-align: center;
        padding-top: 100px;
        /* border: 1px solid white; */
        color: white;
}
.user_info_box{
	position: relative;
    flex:2;
     width: 280px;
    margin-left: 30px;  
}
.user_info{
	position: absolute;

    height: 80px;
    bottom: 100px;
    margin-bottom:20px ;

    color: white;
}
.user_info1{
    flex:1;
    color: white;
    height: 60px;
    margin-top:30px;
}
.user_info_date{
    flex:1;
    color: white;
    margin-top: 10px;
}
.rate{
    width: 75px;
    margin-left: 13px;
    text-align: center;
    color: white;
}
#btn-up{
   margin: 20px;
   margin-left:auto;
   margin-right:auto;
   margin-top: 35px    ;
}
.btn-up1{
   margin: 20px;
   margin-left:auto;
   margin-right:auto;
}
#values{
text-align: center;
font-size: 30px;
}
      .modal-body{
          position: absolute;
          left: 120px;
      }
      #cartoonVideo{
          position: absolute;
          width: 500px;
          left: 90px;
      } 
      .text{
          position: absolute;
          top: 300px;
          color: red;
    
      }
    .text1{
        position: absolute;
        right:0px;
        color: red;
        top: 300px;
    
    }
    .user_info_box{
      display: block; 
      position: relative;
    }
    .user_info_video{
        position: relative;
        margin-bottom:40px;
    }
 
    .user_info1{
        position: relative;
        margin-bottom:40px;
    }
    .user_box{
        display: block;
        height: 100px;
        top: 30px;
        position: relative;;
        right: 80px;
    }
    #usercmment{
        position: relative;
        top:30px;
        left: 10px;
        right: 30px;
        width:400px;
        height:200px; 
        word-wrap: break-word;
    }

    .voting_sys{

        position: relative;
        width: 90px;
        height: 100px;
        text-align: center;
       bottom: 40px;
        left: 150px
    
    }
    .vote_number{
        color:white; 
        font-size:30px;
    } 
  .text{
  	position: absolute;
  	top: 300px;
  	color: red;
  }
  .close{
      position: relative;
      cursor: pointer;
      right: 100px;
      bottom: 50px;
  }
 .close:hover{
    color: red;
}
.user_info{
	display: flex; 
	position: absolute;
	top: 500px;
	left: 300px;
}


.fbutton:hover{
    background-color: red;
}
.fbutton{
    position: absolute;
    bottom: 100px;;
    left:210px;
}
.bbutton:hover{
    background-color: red;
}
.bbutton{
    position: absolute;
    bottom: 100px;;

}
.head{
    margin-bottom: 50px;
    color:white;
}
.backward{
    display: inline-block;
}
